@mixin btn($color: $dark, $length: auto) {
	// Stylizing the button
	display: inline-block;
	width: $length;
	padding: 12px 30px;
	//margin: 20px 0 20px 0;
	border: 2px solid $color !important;
	background-color: transparent !important;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	//transform: skew(-20deg);
	color: $color;
	font-weight: bold; 
	font-size: 1.7rem;
	letter-spacing: 1.5px;
	@include linear-gradient(to right,
		rgba($color,1) 0%,
		rgba($color,1) 50%,
		rgba($color,0) 51%,
		rgba($color,0) 100%);
	background-size: 250% 100%;
	background-position: right center !important;
	transition: all ease 0.8s;
	cursor: pointer;
	// Aligning slanted text back
	span {
		//transform: skew(20deg);
		display: inline-block;
	}
	// Enabling 'fill' on hover
	&:hover {
		color: darken($color,70) !important;
		background-position: left center !important;
	}
}
$darken: darken($niceblue,35);
.btn {
	//@include btn(darken($tan,40));
}
.btn-white {
	@include btn($white);
}