$white: #ffffff;
$black: #000000;

$three: #333333;
$four: #414141;
$gray1: #c2c2c2;
$graylt: #e5e5e5;
$graysuper: lighten($graylt,9);
$fd: #fdfdfd;
$niceblue: #67739B; //#757B91;

$color1: #f9f9f9;
$color5: $color1;