$white: #ffffff;
$black: rgba(0,0,0,0.78);

$navy: #212d40;
/*
// Set 1
$color1: #11151c; //black
$color2: #212d40; //navy
$color3: #364156; //medium blue
$color4: #7d4e57; //eggplant
$color5: #d66853; //orangy
*/

// Set 2
$color1: #247ba0; // medium blue
$color2: #70c1b3; // robins egg
$color3: #b2dbbf; // seafoam
$color4: #f3ffbd; // light green
$color5: #ff1654; // hot pink

/*
// Set 3
$color1: #264653;
$color2: #2a9d8f;
$color3: #e9c46a;
$color4: #f4a261;
$color5: #e76f51;
*/
/*
// Set 4
$color1: #c9cba3;
$color2: #ffe1a8;
$color3: #e26d5c;
$color4: #723d46;
$color5: #472d30;
*/
/*
// Set 5
$color1: #ddd8b8;
$color2: #b3cbb9;
$color3: #84a9c0;
$color4: #6a66a3;
$color5: #542e71;
*/
/*
// Set 6
$color1: #4281a4;
$color2: #48a9a6;
$color3: #e4dfda;
$color4: #d4b483;
$color5: #c1666b;
*/

