$regular: 400;
$semi: 600;
$bold: 700;
$serif: "refrigerator-deluxe", serif;

/* Setup */
html {
	//font-family: 'Source Sans Pro', sans-serif!important;
	//font-family: 'Montserrat', sans-serif;
	font-family: "freight-sans-pro", sans-serif;
	//font-family: "Open Sans", sans-serif;
	font-weight: $regular;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	-webkit-font-smoothing: antialiased;
} 

body {
  line-height: 1.2;
  color: $four;
}

p, li {
	margin-bottom: 2.08rem;
	font-size: 2rem;
	color: lighten($black,60);
}

p:last-of-type {
	margin-bottom: 0;
}

h1, h2, h3, h4 {
  margin: 2.26rem 0 1.8rem;
  //font-weight: $semi;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: $regular;
  color: $black; // $niceblue;
  font-family: $serif;
  -webkit-font-smoothing: auto;
  text-transform: uppercase;
  a {
  	color: inherit;
  }
  .wrapper + & {
  	margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 6rem;
  line-height: 1;
  font-family: $serif;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	font-size: 2.26rem;
}

small, .font_small {
	font-size: 1.13rem;
}


a {
	text-decoration: none;
	font-size: inherit;
}

ul, ol {
	margin: 0;
	list-style-type: none;
	padding: 0;
	ul, ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

li {
	margin-bottom: 0;
	.main-navigation & {
		text-transform: uppercase;
		font-weight: $semi;
		font-size: 1.6rem;
		//opacity: 0.9;
	}
}