$regular: 400;
$semi: 600;
$bold: 700;
$font: "Open Sans";
$serif: $font, helvetica, sans-serif;
$sans: $font, helvetica, sans-serif;

html {
	font-family: $sans;
	font-weight: $regular;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
	-webkit-font-smoothing: antialiased;
} 

body {
  line-height: 1.2;
  color: $four;
}

p, li {
	margin-bottom: 2.08rem;
	font-size: 2rem;
	color: lighten($black,60);
}
a {
	color: currentColor;
}

.normal {
	@include transition(all 0.35s ease-in-out);
	border-bottom: 1px solid;
	background: transparent;
	color: inherit;
	&:hover {
		background: $white;
		border-bottom: 1px solid transparent;
	}
}

p:last-of-type {
	margin-bottom: 0;
}

h1, h2, h3, h4 {
  margin: 2.26rem 0 1.8rem;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: $regular;
  color: $black;
  font-family: $serif;
  -webkit-font-smoothing: auto;
  text-transform: uppercase;
  section > &, div > & {
  	&:first-of-type {
  		margin-top: 0;
  	}
  + p {
  	margin-top: 0;
  }
  }
  a {
  	color: inherit;
  }
  .wrapper + & {
  	margin-top: 0;
  }
}

h1 {
  margin-top: 0;
  font-size: 6rem;
  line-height: 1;
  font-family: $serif;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.25rem;
}

h4 {
	font-size: 1.8rem;
}

small, .font_small {
	font-size: 1.13rem;
}


a {
	text-decoration: none;
	font-size: inherit;
}

ul, ol {
	margin: 0;
	list-style-type: none;
	padding: 0;
	ul, ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

li {
	margin-bottom: 0;
}