$regular: 400;
$semi: 700;
$bold: 900;
$font: "Lato";
$serif: $font, helvetica, sans-serif;
$sans: $font, helvetica, sans-serif;
$radius: 8px;

html {
	//font-size: 62.5%; /* Sets up the Base 10 stuff */
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.5px;
}  

body {
  font-family: $sans;
  font-weight: $regular;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin: 0 auto;
  color: $four;
}
// h1 {
//   font-family: inherit;
//   font-weight: $bold;
//   font-style: inherit;
//   font-size: 3.6875rem;
//   line-height: 4.6875rem;
//   margin-top: 1.5625rem;
//   margin-bottom: 0rem;
// }
h1, h2 {
  font-family: inherit;
  font-weight: $semi;
  font-style: inherit;
  font-size: 2.3125rem;
  line-height: 3.125rem;
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}
h3, .normal {
  font-family: inherit;
  font-weight: $semi;
  font-style: inherit;
  font-size: 1.4375rem;
  line-height: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}
h4 {
  font-family: inherit;
  font-weight: $semi;
  font-style: inherit;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0rem;
}
h5 {
  font-family: inherit;
  font-weight: $regular;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  margin-top: 1.5625rem;
  margin-bottom: 0rem;
}
small, .font_small {
	font-family: inherit;
  font-weight: $semi;
  font-style: inherit;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5625rem;
  list-style-type: none;
  padding: 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
	color: currentColor;
	//text-decoration: none;
	font-size: inherit;
}

a, svg {
	@include transition(all 0.35s ease-in-out);
	&:hover {
		@include transition(all 0.35s ease-in-out);
	}
}