.site-footer nav, .bio-text nav {
	text-align: center;
	ul {
		padding: 6.5px 0;
	}
	li {
		display: inline-block;
		margin: 0 5px;
		svg {
			height: 28px;
			width: 28px;
			@media all and (max-width: 700px) {
				height: 18px;
				width: 18px;
			}
		}
		a {
			padding: 10px;
			border: 2px solid transparent;
			display: block;
			border-radius: 50%;
			opacity: 0.9;
			padding: 10px 11px 7px;
			@include transition(border, ease-in-out, 0.5s);
			&:hover {
				border-color: $white;
				opacity: 1;
				@extend .pulse;
			}
		}
	}
}

.home .site-footer nav {
	display: none;
}

.site-footer {
	position: relative;
	background: $four;
	clear: both;
	text-align: center;
	.footer-container {
		//@extend %flex-justify-center;
		div, nav {
			//width: 25%;
			text-align: center;
			color: $white;
			@include flex(none);
			h3 {
				color: $white;
				margin: 0 0 1.8rem 0;
			}
			@include media($med) {
				//width: 33%;
			}
		}
		.top {
			margin-top: 0;
			a {
				opacity: 0.5;
				@extend .animated;
				&:hover {
				@extend .pulse;
				opacity: 1;
				}
			}
		}
		padding: 6%;
		color: $white;
		a:not(.btn-white){
			color: $white;
		}
		@include media($small) {
			//@include flex-direction(column);
			div, nav {
				width: 100%;
				margin: 6% 0;
			}
			.footer-center {
				//@include order(-1);
			}
		}
	}
	.home & {
		background: $white;
		.footer-container {
			//padding-top: 0;
		}
	}
}

.home .site-footer .footer-container a, .home .site-footer .footer-container {
	color: $gray1;
}

.footer-center {
	margin: 0 auto;
}

.footer-contact {
	p {
		margin: 0 !important;
	}
	h3 {
		padding-bottom: 13px;
	}
}

.copyright {
	letter-spacing: 0.5px;
	font-size: 1.6rem;
}