.site-footer nav {
	text-align: right;
	li {
		display: inline-block;
		padding: 0 1rem;
	}
}

.footer-container {
	//position: relative;
	//z-index: -1;
	color: $white;
	a {
		color: $white;
	}
}

.site-footer {
	position: relative;
	background: #000;
}

/* .to-top {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	line-height: 80px;	
	height: 0;
	width: 0;
	text-align: center;
	position: absolute;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $color4;
	border-width: 40px;
	margin-left: -40px;
	z-index: 9999;
	font-size: 3rem;
	span {
		margin-left: -20px;
	}
} */

.to-top {
	text-align: center;
	color: $white;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	font-style: italic;
	font-size: 3rem;
	@include transform(translateX(-50%));
	@include transform(translateY(-45%));
	&:hover {
		color: $color5;
	}
}