html, body {
	height: 100%;
}

body {
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
	@include animate-prefixer(animation-duration, $base-duration);
	@include animate-prefixer(animation-fill-mode, both);

	&.hinge {
		@include animate-prefixer(animation-duration, $base-duration * 2);
	}
}

[class^="icon-"], [class*=" icon-"] {
	height: 3rem;
	width: auto;
	display: inline-block; 
	fill: currentColor; 
}

.wrapper {
	//@include outer-container;
	section & {
		padding: 8% 0;
		> *:first-of-type {
			margin-top: 0;
		}
	}
	#masthead &, #colophon & {
		padding: 4rem 0;
	}
}

.wrapper-min {
	padding: 0 12%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	border: 0;
}

.archive .site-main {
	@extend %flex;
	@extend %flex-wrap;
	@include align-content(flex-start);
	padding: 8% 12% 1%;
}

@include media($med) {
	#masthead {
		height: 10vh;
		.archive & {
			background-color: $f7;
		}
	}
	.site-main {
		//padding-top: 10vh;
		.archive & {
			padding-top: 14vh;
		}
	}
	.work-intro .aside {
		min-height: 90vh;
		.intro-content {
			padding: 0 6%;
		}
	}
}

@include media($small) {
	.site-main {
		.archive & {
			padding-bottom: 6%;
		}
	}
}

.error404 {
	.rslides_container {
		margin-bottom: 0;
	}
}
