html, body {
	height: 100%;
}

body {
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}
.animated {
	@include animate-prefixer(animation-duration, $base-duration);
	@include animate-prefixer(animation-fill-mode, both);

	&.hinge {
		@include animate-prefixer(animation-duration, $base-duration * 2);
	}
}

[class^="icon-"], [class*=" icon-"] {
	height: 3rem;
	width: auto;
	display: inline-block; 
	fill: currentColor; 
}

.wrapper {
	//@include outer-container;
	section & {
		padding: 8% 0;
		> *:first-of-type {
			margin-top: 0;
		}
	}
	#masthead &, #colophon & {
		padding: 4rem 0;
	}
}

.wrapper-min {
	padding: 0 12%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	border: 0;
}

.archive .site-main {
	@extend %flex;
	@extend %flex-wrap;
	@include align-content(flex-start);
	padding: 6%;
	padding-top: 8%;
}

@include media($med) {
	.site-main, .archive .site-main {
		padding-top: 12%;
	}
}


@include media($small) {
	.site-main {
		padding-top: 18%;
	}
	.archive .site-main {
		padding-top: 25%;
	}
}

