body {
	position: relative;
	//background: $color1;
}
/*
body:before, body:after {
	content: "";
	position: fixed;
	background: $white;
	left: 0;
	right: 0;
	height: 20px;
}
body:before {
	top: 0;
}
body:after {
	bottom: 0;
}
body {
	border-left: 20px solid $white;
	border-right: 20px solid $white;  
}
*/

#masthead, #colophon {
	background: $white;
}

[class^="icon-"], [class*=" icon-"] {
	height: 32px;
	width: 32px;
	display: inline-block; 
	fill: currentColor; 
}

.wrapper {
	@include outer-container;
	section & {
		padding: 8% 0;
		> *:first-of-type {
			margin-top: 0;
		}
	}
	#masthead &, #colophon & {
		padding: 4rem 0;
	}
}

.wrapper-min {
	padding: 0 12%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

.site-main {
	@include outer-container;
}