.site-name {
	float: left;
}

.main-navigation {
	width: auto;
	float: right;
}

// Mobile Nav

button.menu-toggle {
	&:before {
		content: "\00002b";
		display: inline-block;
	}
	z-index: 4;
	position: absolute;
	top: 10px;
	right: 0;
}

.toggled {
	button.menu-toggle {
		&:before {
			@include transform(rotate(45deg));
		}
	}
	.nav-menu {
		z-index: 3;
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100%;
		background: white;
		display: block;
		li {
			display: block;
			height: 33.3vh;
		}
	}
}