#masthead {
	background: $white;
	box-shadow: 0px 0px 5px 1px rgba($three, 0.45);
	position: fixed;
	width: 100%;
	z-index: 999;
	display: block;
}

.header-container, .footer-container {
	@include outer-container;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	& > * {
		@include flex(1);
	}
	padding: 20px;
}

.site-name {
	.site-title {
		line-height: 1;
		margin: 0;
		font-size: 25px;
		font-weight: $semi;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		a {
			text-decoration: none;
			span:nth-of-type(1) {
		  		color: $four;
		  	}
		  	span:nth-of-type(2) {
		  		color: $gray1;
		  	}
		}
	}
}

.main-navigation {
	ul {
		text-align: right;
		li {
			display: inline-block;
			padding: 0 2rem;
			a {
				color: $four;
				letter-spacing: 0.5px;
			}
		}
	}
}

// Mobile Nav

button.menu-toggle {
	&:before {
		content: "\00002b";
		display: inline-block;
	}
	  z-index: 4;
	  position: absolute;
	  top: 0;
	  right: 0;
	  background: transparent;
	  border: 0;
	  padding: 0;
	  line-height: 1;
	  font-size: 62px;
	  width: 62px;
}

.toggled {
	button.menu-toggle {
		&:before {
			@include transform(rotate(45deg));
		}
	}
	ul {
		z-index: 3;
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100%;
		background: white;
		display: block;
		li {
			@include display(flex);
			height: 33.3vh;
			text-align: center;
			width: 100%;
			text-transform: uppercase;
			font-weight: $bold;
			letter-spacing: 1px;
			a {
				display: block;
				@include flex(1);
				vertical-align: middle;
				height: 33vh;
				line-height: 33vh;
				width: 100%;
				font-size: 20vw;
				align-self: center;
				text-decoration: none;
			}
		}
	}
}