#masthead {
	background: $white;
	width: 100%;
	z-index: 999;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
}

.header-container, .footer-container {
	@extend %flex;
	@extend %flex-justify-between;
	@extend %flex-align-center;
	> * {
		@extend %flex-1;
	}
	min-height: 90px;
	padding: 3%;
}

.site-name {
	.site-title {
		line-height: 1;
		margin: 0;
		font-size: 25px;
		a {
			text-decoration: none;
		}
	}
}

.main-navigation {
	ul {
		text-align: right;
		li {
			display: inline-block;
			margin: 0 0.5rem;
			a {
				text-transform: uppercase;
				font-weight: $semi;
				font-size: 1.4rem;
				letter-spacing: 1px;
				color: $white;
				display: block;
				padding: 0 1rem;
				opacity: 0.5;
				@extend %underline;
				.single-work & {
					color: #CACACA;
					opacity: 1;
				}
				&:hover {
					opacity: 1;
					color: inherit;
				}
				.archive & {
					color: $four;
				}
				@include media($med) {
					color: $four;
				}
			}
		}
	}
}

/* Mobile Nav */

button.menu-toggle {
	&:before {
		content: "\00002b";
		display: inline-block;
		overflow: hidden;
	}
	z-index: 4;
	position: absolute;
	top: 1rem;
	overflow: hidden;
	right: 0;
	background: transparent;
	border: 0;
	padding: 0;
	line-height: 1;
	font-size: 5rem;
	width: 5rem;
}

.toggled {
	button.menu-toggle {
		&:before {
			@include transform(rotate(45deg));
		}
		position: fixed;
		color: $white;
	}
	ul {
		z-index: 3;
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100%;
		background: white;
		display: block;
		li {
			@extend %flex;
			height: 33.3vh;
			text-align: center;
			width: 100%;
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			font-weight: $bold;
			letter-spacing: 1px;
			a {
				display: block;
				@extend %flex-1;
				vertical-align: middle;
				height: 33vh;
				line-height: 33vh;
				width: 100%;
				font-size: 20vw;
				font-family: $serif;
				letter-spacing: 2px;
				align-self: center;
				text-decoration: none;
				border: 0;
				text-align: center;
				opacity: 1;
			}
			&:first-of-type {
				background: $three;
				a {
					color: $f7 !important;
				}
			}
			&:nth-of-type(2) {
				background: lighten($three, 50);
			}
			&:nth-of-type(3) {
				background: $f7;
			}
		}
	}
}