.blog, .single-post {
	.entry-header {
		text-align: center;
	}
	.entry-header, .entry-content > p {
		@extend .wrapper-min;
	}
	.entry-meta p {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.875rem; 
		font-weight: $bold;
	}
}