.social-navigation {
	@include span-columns(4);
	text-align: center;
	li {
		@include span-columns(2 of 4);
		@include omega (2n);
		&:last-of-type, &:nth-last-of-type(2) {
			margin-bottom: 0;
		}
		a {
			display: block;
			padding: 4px 0;
			border-radius: 4px;
			background: $dark-gray;
		}
	}
}

#colophon {
	[class^="icon-"], [class*=" icon-"] {
	    height: 28px;
	    width: 28px;
	    display: block; 
	    fill: $white; 
	    margin: 0 auto;
	}
}

.copyright {
	@include span-columns(8);
	p {
		letter-spacing: 0.5px;
		font-family: $sans;
		font-size: 0.875rem;
		color: darken(#f9f9f9,30);
		a {
			font-weight: bold;
			color: inherit;
			letter-spacing: 0.75px;
		}
		.spacer {
			padding: 0 10px;
		}
	}
}

#colophon {
	border-bottom: 8px solid $dark-gray;
	background: $nude;
}