.wrapper {
	@include outer-container;
	padding: 2rem 0;
}

.wrapper-min {
	@include span-columns(8);
	@include shift(2);
	@include omega;
}

#comments {
	display: none;
}

.page .entry-header .entry-title {
	display: none;
}

body {
	background: $gray;
}

.site-logo {
	display: none;
}

.footer-go {
	background: $white;
	text-align: center;
	p {
		font-family: $serif;
		font-size: 2rem;
	}
}