body {
	font-family: $sans;
	font-size: 1rem;
}

p, li {
	line-height: 1.5;
	margin-bottom: 1rem;
	font-size: 1.125rem;
	color: $base-font-color;
	font-family: $serif;
}

h1 {
	font-size: 3rem;
	font-family: $serif;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

ul {
	header &, footer & {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
		}
	}
}

a {
	text-decoration: none;
	&:hover, &:active {
		color: $black;
	}
}