.special {
	@extend .wrapper;
	padding: 0 0 4rem 0;
	.entry-title {
		text-align: right;
		color: $white;
		margin-bottom: -3rem;
		margin-right: 3rem;
		z-index: 999;
		font-size: 8rem;
	}
	.entry-left {
		@include span-columns(6);
		.contact & {
			margin-top: 4rem;
			h2, p:last-of-type {
				text-align: center;
			}
		}
	}
	.entry-right {
		@include span-columns(4);
		@include shift(1);
		@include omega;
		ul {
			margin-top: 0;
			li {
				display: block;
				margin: 0;
				line-height: 1.7;
				font-size: rem(15);
				color: $navgrayhover;
				text-transform: capitalize;
				&:before {
					content: "\203A";
					padding-right: 10px;
				}
			}
		}
	}
}

.single-post {
	.entry-title {
		color: $white;
		font-size: 6rem;
		margin-bottom: -2.7rem;
		@include span-columns(10);
	}
	.entry-left {
		@include shift(2);
		@include span-columns(4);
		.post_date {
			margin: 3rem 0 0 0; 
		}
	}
	.entry-right {
		a {
			font-size: rem(15);
			opacity: 0.7;
			padding-left: 2px;
			letter-spacing: 0.25px;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.outbound-link {
	font-family: $serif;
	font-size: 1.2rem;
	line-height: 1.6rem;
	letter-spacing: 0.5px;
	a {
		color: $robin;
		margin: 2rem 0;
	}
	[class^="icon-"], [class*=" icon-"] {
	    height: 14px;
	    width: 14px;
	    vertical-align: middle;
	    display: inline-block; 
	    fill: currentColor; 
	    margin-left: 5px;
	}
}

.blog .entry-header {
	@include span-columns(10);
	@include shift(1);
	text-align: center;
	h1 {
		margin: 1rem 0 3rem;
	}
}
