$footercolor: #E7CEC7;

#colophon {
	border-bottom: 5px solid desaturate(darken($footercolor,10),20);
	background: $nude;
	.wrapper {
		padding: 3rem 0;
		@include display(flex);
	 	@include flex-direction(row);
	 	@include justify-content(space-between);
	 	@include align-items(center);
	}
	li {
		margin: 0;
		vertical-align: middle;
		a {
			display: block;
			padding: 0 0.4rem;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
	    height: 32px;
	    width: 32px;
	    display: block; 
	    fill: $footercolor;
	    margin: 0 auto;
	    @include transition(fill 0.2s ease-in-out);
	    &:hover {
	    	fill: darken($footercolor, 15);
	    }
	}
	a[href*="http://goodreads.com/"] {
		svg {
			  fill: $nude;
			  border-radius: 50%;
			  padding: 4px;
			  stroke: $nude;
			  stroke-width: 32px;
			  height: 28px;
			  width: 28px;
			  background: $footercolor;
			   @include transition(background 0.2s ease-in-out);
			  &:hover {
			  	background: darken($footercolor, 15);
			  }
		}
	}
	p {
		letter-spacing: 0.5px;
		font-family: $sans;
		font-size: 0.875rem;
		color: desaturate(darken($footercolor,10),20);
		a {
			color: inherit;
			letter-spacing: 0.75px;
		}
		.footer-links {
			padding-left: 2rem;
			a {
				border-bottom: 0;
				&:hover {
					border-bottom: 1px solid;
				}
			}
		}
		.spacer {
			padding: 0 4px;
		}
	}	
}

.copyright, .social-navigation {
	display: inline-block;
	 @include flex(1);
	 margin: 0;
}

.social-navigation {
	text-align: right;

}