#colophon {
	border-bottom: 5px solid desaturate(darken(#E7CEC7,10),20);
	background: $nude;
	.wrapper {
		padding: 3rem 0;
		@include display(flex);
	 	@include flex-direction(row);
	 	@include justify-content(space-between);
	 	@include align-items(center);
	}
	li {
		margin: 0;
		vertical-align: middle;
		a {
			display: block;
			padding: 0 0.5rem;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
	    height: 32px;
	    width: 32px;
	    display: block; 
	    fill: #E7CEC7;
	    margin: 0 auto;
	}
	a[href*="http://goodreads.com/"] {
		svg {
			  fill: $nude;
			  border-radius: 6px;
			  padding: 4px;
			  stroke: $nude;
			  stroke-width: 32px;
			  height: 28px;
			  width: 28px;
			  background: #E7CEC7;
		}
	}
	p {
		letter-spacing: 0.5px;
		font-family: $sans;
		font-size: 0.875rem;
		color: desaturate(darken(#E7CEC7,10),20);
		a {
			color: inherit;
			letter-spacing: 0.75px;
		}
		.footer-links {
			padding-left: 2rem;
		}
		.spacer {
			padding: 0 4px;
		}
	}	
}

.copyright, .social-navigation {
	display: inline-block;
	 @include flex(1);
	 margin: 0;
}

.social-navigation {
	text-align: right;

}