#masthead .wrapper {
	 @include display(flex);
	 @include flex-direction(row);
	 @include justify-content(space-between);
	 @include align-items(center);
	 .site-name, .main-navigation {
	 	 @include flex(1);
	 }
	 h1, p {
	 	margin: 0;
	 } 
}

.site-name {
	h1 {
		font-size: 2rem;
		font-family: $serif;
		line-height: 1.4;
		a {
			color: $black;
		}
	}
	h2 {
		text-transform: uppercase;
		font-size: 0.75rem;
		line-height: 1;
		letter-spacing: 1.5px;
		margin: 0;
		font-weight: normal;
	}
	.spacer {
		font-size: 1.7rem;
  		letter-spacing: -0.7rem;
	}
}

.main-navigation {
	width: auto;
	float: none;
	text-align: right;
	li {
		display: inline-block;
		margin: 0;
		line-height: 1;
		font-size: 1rem;
		&:last-of-type {
			padding-right: 0;
		}
		&.current_page_item {
			a {
				background: $white;
			}
		}
		a {
			padding: 5px 25px 7px;
			text-transform: uppercase;
			//font-style: italic;
			//font-weight: bold;
			font-size: 0.875rem;
			letter-spacing: 1px;
			font-family: $serif;
			color: $base-font-color;
		}
	}
}
