body {
	font-family: $sans;
	font-size: 1rem;
}

p, li {
	line-height: 1.5;
	margin-bottom: 1rem;
	font-size: 1rem;
	color: $base-font-color;
	font-family: $sans;
	letter-spacing: 0.25px;
	.blog &, .single & {
		letter-spacing: 0.1px;
	}
}

h1 {
	font-size: 3rem;
	letter-spacing: 0.25px;
	font-weight: normal;
	font-family: $serif;
	line-height: 1;
	margin: 2rem 0;
	a {
		color: $robin;
	}
	&.entry-title {
		a {
			@extend %growlink;
			line-height: 1.4;
			position: relative;
		}
	}
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: rem(14);
}

h3 {
	text-transform: uppercase;
	font-size: rem(13);
	font-weight: 300;
	letter-spacing: 1.5px;
	color: $navgray;
	padding-left: 2px;
	position: relative;
	line-height: 2.4;
	.entry-header & {
		&:after {
		content: "";
		@include linear-gradient(to right, darken($gray,15) 0%, transparent 30%);
		background-color: transparent;
		border-radius: 1px;
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		}
	}
}

h4 {

}

h5 {

}

h6 {

}

ul {
	header &, footer & {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
		}
	}
}

a {
	text-decoration: none;
	color: $navgrayhover;
	&:hover, &:active {
		color: $black;
	}
	.blog .entry-content &, .single-post .entry-content & {
		border-bottom: 2px dotted rgba($navgrayhover, 0.1);
	}
}

strong {
	font-weight: 600;
}