.about-three {
	@extend %three;
}

.about #main {
	h1, h2, h3, h4 {
		text-align: center;
	}
}

.behind-laptop {
	background: $robinlight;
	h2 {
		margin-bottom: 4rem;
	}
	h3 {
		@extend h1;
		font-size: 2rem;
		text-transform: none;
		color: $robin;
	}
	p {
		font-size: 1.1rem;
	}
}