.blog, .single-post {
	.entry-content > {
		p, ul, blockquote, aside, h2, h3, h4, h5 {
			@extend .wrapper-min;
			clear: both;
		}
		p > img {
			@include shift(0);
			@include span-columns(12);
		}
	}
	.entry-meta p {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.875rem; 
		font-weight: $bold;
	}
}

.posts-navigation, .site-main .posts-navigation {
	background: $white;
	margin: 0;
	.nav-links {
		@extend .wrapper;
		div {
			@include span-columns(6);
			&:nth-of-type(2) {
				text-align: right;
			}
		}
		a {
			font-family: $serif;
			font-size: 1.25rem;
			text-transform: capitalize;
			color: $navgray;
			&:hover {
				color: $navgrayhover;
			}
			&:first-of-type:before {
				content: "\2190";
				padding-right: 1rem;
			}
			&:nth-of-type(2):after {
				content: "\2192";
				padding-left: 1rem;
			}
		}
	}
}

.single-post, .blog {
	main {
		padding-bottom: 4rem;
		padding-top: 0;
	}
}

.blog article {
	&:last-of-type {
		.wrapper:after {
			display: none;
		}
	}
	> .wrapper {
		position: relative;
		padding: 4rem 0;
		&:after {
			@extend %line;
			width: auto;
			@include span-columns(8);
			@include shift(2);
			bottom: 0;
			opacity: 0.5;
		}
	}
}

.read-link {
	text-align: center;
	margin: 0;
	a {
		background: $white;
		padding: 10px 20px;
		border-bottom: 0!important;
	}
}