.contact {
	.entry-header {
		display: none;
	}
	.site-main {
		@extend %flex;
		@extend %flex-row;
		@extend %flex-justify-center;
		@extend %flex-align-stretch;
		height: 100%;
		min-height: 100vh;
		@include media($med) {
			@include flex(column);
			@include justify-content(flex-start);
		}
	}
	section {
		@extend %flex-1;
		@extend %flex;
		@extend %flex-column;
		@extend %flex-justify-center;
		padding: 6%;
		@include media($med) {
			@include justify-content(flex-start);
		}
	}
	ul a {
		border: 0;
	}
}

.contact-content {
	a {
		@extend .normal;
		&:hover {
			color: $three !important;
		}
	}
	li a, .email {
		line-height: 1.5;
		border-bottom: 0;
		&:hover {
			border-bottom: 0;
		}
	}
}

.contact-form { 
	background: $graysuper;
	background: url('../img/min/contactbg.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	h2 {
		color: $white;
		margin-top: 8% !important;
		text-align: center;
	}
}


.gform_body {
	@include clearfix;
	.gfield {
		position: relative;
		margin: 2rem 0;
		padding: 0 5px 7px;
		display: inline-block;
		width: 49%;
		border-radius: 2px;
		label {
			display: block;
			font-weight: $semi;
			font-size: 1.6rem;
			color: $white;
			padding: 2px 0 5px;
		}
		input, textarea, select {
			width: 100%;
		}
		textarea {
			height: 10rem;
		}
		&:nth-of-type(2n) {
			margin-left: 2%;
			@include omega;
		}
		&:last-of-type {
			//float: none;
			width: 100%;
		}
		@media all and (max-width:75em) {
			width: 100%;
			float: none;
			&:nth-of-type(2n) {
				margin-left: 0;
			}
		}
	}
}

.gfield {
	input, textarea {
		background: transparent;
		border: 0;
		border-bottom: 2px solid $white;
		&:focus {
			outline: none;
			border-bottom: 2px solid $four;
			color: $three;
			font-size: 1.8rem;
		}
	}
	textarea {
		border: 2px solid $white;
		&:focus {
			border: 2px solid $four;
		}
	}
}

.inputbg {
	background: white;
	@extend .animated;
	@extend .fadeIn;
	label {
		color: $four !important;
	}
}

.gform_footer {
	text-align: center;
	margin-top: 1.8rem;
	.button {
		margin: 0 auto;
		@extend .btn-white;
		font-size: 1.8rem;
		font-weight: bold;
	}
}

.validation_error {
	@extend p;
	padding: 1rem;
	background: $white;
	border-radius: 2px;
}

.validation_message {
	font-size: 1.6rem;
	font-weight: $semi;
	color: rgb(255, 0, 111);
	padding-top: 5px;
	&:before {
		content: "\2192";
		padding-right: 2px;
	}
}

.gform_confirmation_message {
	@extend h4;
	color: $white;
	font-family: $sans;
	text-transform: initial;
	text-align: center;
	&:before {
		content: "\00D7";
		display: block;
		padding: 2rem 2rem 4rem;
		color: $white;
		font-size: 3.2rem;
		text-align: center;
	}
}

input, textarea {
	&.filled {
		~ .validation_message {
			visibility: hidden;
		}
	}
}