.contact .entry-content ul {
	list-style-type: none;
	[class^="icon-"], [class*=" icon-"] {
	    height: 28px;
	    width: 28px;
	    display: block; 
	    fill: $white; 
	}
}

.contact-form {
	background: $robinlight;
	color: $white;
	.wrapper {
		padding: 4rem 0;
	}
	h1 {
		text-align: center;
		font-size: 2rem;
		margin-top: 0;
		margin-bottom: 3rem;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	input:not([type=submit]), select, textarea {
		width: 100%;
		font-family: $sans;
		outline: none;
		line-height: 1.4;
		font-size: 1rem;
		border: 0;
		background: $white;
		min-height: 28px;
		border-radius: 0;
		color: $robin;
		padding: 5px 10px;
	}
	select {
		height: 32px;
		box-shadow: none;
		color: $robin;
	}

	li:not(#field_1_9) {
		@include span-columns(4 of 8);
		@include omega(2n);
	}
	#field_1_9 {
		@include span-columns(8 of 8);
	}
	input[type=submit] {
		display: block;
		margin: 0 auto;
		@extend %growlink;
		border: 0;
		background: 0;
		box-shadow: inset 0 -5px 0 $white;
		text-shadow: none;
		line-height: 1.4;
		padding: 0 4px;
		border-radius: 0;
		&:after {
			color: $white;
		}
		&:hover {
			box-shadow: inset 0 -30px 0 $white;
		}
	}
	label {
		@extend h3;
	}
}