.latest {
	background: $robinlight;
	.wrapper {
		padding: 4rem 0;
		header {
			@include display(flex);
			 @include flex-direction(row);
			 @include justify-content(space-between);
			 @include align-items(center);
			 .p, h1 {
			 	 @include flex(1);
			 }
		}
		.latest-blog {
			@include span-columns(4);
			@include shift(1);
			h1 {
				margin: 1rem 0 2rem;
			}
			h1 a {
				@extend %growlink;
				box-shadow: inset 0 -5px 0 $white;
				padding: 0 4px 0 0;
				&:after {
					color: $white;
				}
				&:hover {
					box-shadow: inset 0 -30px 0 $white;
				}
			}
		}
		.latest-work {
			@include shift(1.5);
			@include span-columns(4);
		}
	}
	header p a {
		font-size: rem(14);
		&:hover {
			border-bottom: 1px solid;
		}
	}
	header > * {
		margin: 0;
	}
}