.home {
	.site-name .site-title a {
		display: block;
	}
	header, .home-top {
		background: $navy;
		color: $white;
		a {
			color: $white;
		}
	}
}

.services .wrapper {
	text-align: center;
	> div {
		@include span-columns(4);
	}
}

.latest-work {
	background: $navy;
	position: relative;
	.work-h2 {
		position: absolute;
		margin-top: 0;
		display: block;
		width: 100%;
		text-align: center;
		top: 50%;
		left: 0;
		z-index: 999;
		@include transform(translateY(-50%));
	}
}

.accordion:hover + .work-h2 {
	display: none;
}

.bio {
	background: $color4;
	.wrapper {
		position: relative;
		z-index: 0;
	}
	img {
		position: absolute;
		top: 0;
		right: 10%;
		padding-top: 8%;
		width: 25%;
		z-index: -1;
	}
	div.bio-text {
		@include span-columns(8);
		z-index: 999;
		color: $navy;
		h2 {
			font-weight: $bold;
			@extend h3;
		}
		p {
			font-size: 3rem;
		}
	}
}

.hire-me {
	clear: both;
	background: $color2;
}

.home footer {
	background: $color2;
}
