#masthead {
	height: 65px;
}

.single-work section:not(.layout-text) {
	  margin: 20px;
	  position: relative;
	  overflow: auto;
	  @include outer-container;
	  //padding: 20px;
	  margin: 40px;
	  vertical-align: middle;
	  @include display(flex);
	 @include align-items(center);
	 > div:first-of-type {
	  	@include span-columns(8);
	  }
	 div:nth-of-type(2) {
	  	@include span-columns(4);
	  	padding: 40px;
	  }
}

/* .single-work main {
	margin-top: 65px;
	position: relative;
	section {
		position: relative;
		@include clearfix;
		img {
			display: block;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		> img, > div:not(.stickem) {
			@include span-columns(8);
		}
	}
	.wrapper {
		width: 100%;
	}
}

.portfolio-nav {
	//@include span-columns(3);
	//@include shift(8);
	display: block;
	//padding-left: $gutter;
	//background: $graysuper;
	//z-index: 20;
	//top: 60px;
	//padding: 4rem 0;
	//position: fixed;
	text-align: center;
}

.stickem {
	@include span-columns(3);
	@include shift(8);
	//position: absolute;
	//right: $gutter * 2;
	//padding-left: $gutter;
	top: 0;
	p {
		//font-size: 1.8rem;
	}
}

.layout-text {
	text-align: center;
}


.stickem-container {
  position: relative;
}

.work-intro .stickem {
	//top: 100px;
	h1 {
		margin-top: 20px;
	}
}


.stickit {
    //margin-left: 65.88078%;
    position: fixed;
    top: 170px;
    .work-intro & {
    	top: 165px;
    }
	}

.stickit-end {
    bottom: 20px;
    position: absolute;
    //right: 0;
} */