.single-work main {
	background: lighten($graylt,9);
	padding-top: 65px;
	section {
		position: relative;
		@include clearfix;
		img {
			display: block;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		> img, > div:not(.stickem) {
			@include span-columns(8);
		}
	}
	> nav {
		padding: 4% 4%;
		//background: $white;
	}
	
}
.stickem {
	@include span-columns(3);
	padding-left: $gutter;
	p {
		//font-size: 1.8rem;
	}
}

.layout-text {
	text-align: center;
}
