.top_image {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	div {
		height: 100%;
		width: 100%;
	}
}

.work-content {
	position: absolute;
	left: 50%;
	top: 0;
	width: 50%;
	z-index: 999;
	background: white;
	padding: 20px;
}





.single-work {
	@extend %clearfix;
	p {
		color: lighten($black,50);
	}
}

.aside {
	position: relative;
	.work-intro & {
		background: $f7;
		@include media($med) {
			p {
				text-align: left;
			}
		}
	}
}

.outbound-link {
	@extend h3;
	@extend .normal;
	text-align: center;
	a {
		padding: 2px 5px;
	}
	span {
		vertical-align: middle;
	}
	svg {
		height: 1.4rem;
		width: auto;
		vertical-align: middle;
		margin-left: 1rem;
		padding-right: 5px;
	}
}


.down-arrow {
	@extend %flex;
	@extend %flex-align-center;
	margin: 6% 0;
	padding: 0 !important;
	svg {
		margin: 0 auto;
		height: 50px;
		width: auto;
		color: $gray1;
	}
	@include media($med) {
		margin-bottom: 0;
	}
}

.contribution {
	padding: 6% 6% 0;
	h3 {
		text-align: center;
	}
	ul {
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
		@extend %clearfix;
		text-align: center;
		@extend %flex;
		@extend %flex-wrap;
		@extend %flex-justify-center;
		width: 100%;
	}
	li {
		width: 30%;
		text-align: center;
		margin: 2% 0;
		float: none;
		display: inline-block;
		text-transform: capitalize;
		@include media($small) {
			width: 50%;
		}
		svg {
			height: 40px;
			width: auto;
		}
	}
}


.layout-text {
	text-align: center;
	div {
		width: 50%;
		display: inline-block;
		margin: 0 auto;
		float: none;
		padding: 6%;
		@include media($med) {
			width: 75%
		}
		@include media($small) {
			width: 100%;
		}
	}
}

.intro-content p:first-of-type a, .layout-text a {
	border-bottom: 1px dotted $gray1;
	&:hover {
		color: $gray1;
	}
}

.contribution {
	+ .display_slider, + .layout-two, + .display_before {
		margin-top: 6%;
	}
}
.layout-lone-image {
	padding: 6%;
	//max-height: 100vh;
	.wrapper {
		max-width: 1088px;
		margin: 0 auto;
		padding: 0;
	}
}



.layout-two {
	@extend %fifty-fifty;
	min-height: 90vh;
}

.layout-text ~ .display_slider, .layout-text ~ .layout-lone-image {
	padding-top: 0;
	padding-bottom: 6%;
}

.portfolio-nav {
	text-align: center;
	margin: 6% 0;
	li {
		margin: 5px;
		display: inline-block; 
		position: relative;
	}
	a {
		border: 0;
		display: block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.4rem;
		&:after {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1.4rem;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
		height: 30px;
		width: auto;
		fill: currentColor; 
		opacity: 1;
	}
}

.nav-1 a {
	&:hover {
		&:after {
			content: "Previous Project";
			position: absolute;
			left: -190px;
			top: 50%;
			display: block;
			width: 200px;
			@extend %translateY;
			@include media($small) {
				width: 100px;
				left: -110px;
			}
		}
	}
}

.nav-2 a {
	&:hover {
		&:after {
			content: "All Work";
			position: absolute;
			left: 50%;
			@extend %translateX;
			top: -3.5rem;
			display: block;
			width: 200px;
		}
	}
}

.nav-3 a {
	&:hover {
		&:after {
			content: "Next Project";
			position: absolute;
			right: -175px;
			top: 50%;
			display: block;
			width: 200px;
			@extend %translateY;
			@include media($small) {
				width: 100px;
				right: -95px;
			}
		}
	}
}

.display_images {
	@extend %fifty-fifty;
	.aside {
		@extend %flex-justify-center;
		padding: 6% 6%;
		h3, p {
			padding: 0 6%;
		}
	}
	&:nth-of-type(2n-1) {
		@extend %flex-row-reverse;
		@include media($med) {
			@include flex-direction(column-reverse);
		}
	}
	@include media($med) {
		@include display(flex);
		@include flex-direction(column);
		
	}
	@include media($small) {
		@include display(flex);
		@include flex-direction(column-reverse);
		
	}
}

.display_before {
	&:nth-of-type(2n + 1) {
		background: darken($f7,10);
	}
	&:nth-of-type(2n) {
		background-color: darken($f7,4);
	}
	div {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.display_slider {
	@extend %clearfix;
	padding: 6% 6% 0;
	.rslides_container {
		width: 75%;
		margin: 0 auto;
		float: none;
		@include media($med) {
			width: 100%;
		}
		.postid-668 & {
			max-width: 800px;
		}
	}
}

.work-navigation {
	@extend .home-work;
	background: $f7;
	div {
		&:last-of-type {
			@extend %clearfix;
		}
		&:last-of-type h3 {
			&:hover {
				span:after {
					content: "\2192";
				}
			}
		}
		&:first-of-type h3 {
			&:hover {
				span:after {
					content: "\2190";
				}
			}
		}
	}
	p {
		@extend %clearfix;
	}
	a {
		position: relative;
		img {
			margin-bottom: -3px;
		}
	}
	h3 {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba($four, 0.3);
		margin: 0;
		@include transition(all 0.35s ease-in-out);
		span {
			position: absolute;
			color: $white;
			top: 50%;
			width: 100%;
			display: block;
			text-align: center;
			@include transition(all 0.35s ease-in-out);
			@extend %translateY;
			&:after {
				content: "\2015";
				text-align: center;
				display: block;
			}
		}
		&:hover {
			background: rgba($four, 0.5);
		}
	}
}

.postid-668 {
	.contribution {
		display: none;
	}
}

.twentytwenty-horizontal .twentytwenty-before-label:before, .twentytwenty-horizontal .twentytwenty-after-label:before {
		margin-top: 0 !important;
}

@include media($med) {

}

@include media($small) {
	.contribution {
		padding: 12% 6% 6%;
	}
	.layout-text {
		padding-top: 6%;
		padding-bottom: 3%;
	}
	.display_before + .display_slider {
		padding-top: 12%;
	}
	.display_before + .layout_lone_image {
		padding-top: 6%;
	}
	.display_images {
		min-height: auto;
	}
	.work-images {
		min-height: 90vh;
	}
}