///////////////
//// ARCHIVE
///////////////
.post-type-archive-work .content-area {
	.work-item {
		@include span-columns(4);
		@include omega(3n);
	}
	h1 {
		font-size: 1.5rem;
	}
}

///////////////
//// SINGLE
///////////////

.work-info {
	@include span-columns(6);
}

.work-roles {
	@include span-columns(4);
	@include shift(1);
	@include omega;
	ul {
		li {
			display: block;
			font-family: $serif;
		}
	}
}

.entry-nav {
	p {
		@include span-columns(6);
		vertical-align: middle;
		&:nth-of-type(2) {
			text-align: right;
		}
	}
	[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    line-height: 1;
    display: inline-block; 
    fill: currentColor; 
	}
}

.single-work .entry-content {
	text-align: center;
	position: relative;
	img {
		padding: $gutter * 0.5 0;
	}
	&:before {
		@extend %line;
		top: 0;
	}
	&:after {
		@extend %line;
		bottom: 0;
	}
}