.post-type-archive-work {
	.site-main {
		@include display(flex);
		@include flex-wrap(wrap);
		@include align-content(flex-start);
		padding: 6% 0;
		margin-top: 6%;
	}
	.work-item {
		width: 25%;
		a {
			display: block;
			border: 0;
		}
		h1 {
			@extend h2;
		}
	}
}