.archive {
	.site-main {
		@include display(flex);
		@include flex-wrap(wrap);
		@include align-content(flex-start);
		padding: 6%;
		margin-top: 6%;
	}
	.work-item {
		width: 33%;
		margin-bottom: 6%;
		a {
			display: block;
			border: 0;
		}
		h1 {
			@extend %plus;
			font-size: 3rem;
		}
	}
	@media all and (max-width:65em) {
		.work-item {
			width: 50%;
		}

	}
	@media all and (max-width:48em) {
		@include flex-direction(column);
		.work-item {
			width: 100%;
		}
	}
}